<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Application</title>
    </head>
    <body>
    <h1>
        입사 지원하기
    </h1>
    <ul>
        <form method="POST">
            {% csrf_token %}
            <label>(1) 공고 id
                <input type="text" name="post_id" id="txt1" value="공고 id">
            </label>
            <div data-role="fieldcontain" class="ui-disabled">
                <label>(2) 유저 id
                    <input type="text" name="user_id" id="txt2" value="유저 id">
              </label>
            </div>
            <input type="submit" value="지원하기">
        </form>
    </ul>
    </body>

</html>