<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-role="header">
        <h1> 구인 구직 사이트</h1>
    </div>

    <form action="new_post">
        <input type="submit" value="새로운 공고">
    </form>
    <form action="result">
        <input type="submit" value="이동">
    </form>
    <form action="data_view">
        <input type="text" name="uid" placeholder="id를 입력하세요.">
        <input type="text" name="gender" placeholder="성별을 입력하세요.">
        <input type="submit" value="제출">
    </form>

</body>
</html>
