<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채용</title>
</head>
<body>
    <div data-role="header">
        <h1> 구인 구직 사이트</h1>
    </div>

    <form action="new_post">
        <input type="submit" value="새로운 공고">
    </form>
    <form action="result">
        <input type="submit" value="이동">
    </form>
    <ul>
        <h2>
            현재 진행중인 공고
        </h2>
        <li>
            <ol type="1">
                {% for i in data %}
                   <li>{{ i }}</li>
                {% endfor %}
            </ol>
        </li>
    </ul>

</body>
</html>
