<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="greet">
        <input type="text" name="name" placeholder="이름을 입력하세요.">
        <input type="submit" value="제출">
    </form>
    <form action="result">
        <input type="submit" value="이동">
    </form>
    <form action="data_view">
        <input type="text" name="name" placeholder="이름을 입력하세요.">
        <input type="submit" value="제출">
    </form>

</body>
</html>
