<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div data-role="page" id="page1">
  <div data-role="header">
    <h1> 뫄뫄 회사 채용 공고</h1>
  </div>
  <div data-role="content">
      <form method="post">
          {% csrf_token %}
          <label>(1) 회사 id
            <input type="text" name="id" id="txt1" value="회사 id">
          </label>
          <div data-role="fieldcontain" class="ui-disabled">
              <label>(2) 채용 포지션
                  <input type="text" name="position" id="txt2" value="백엔드 주니어 개발자">
              </label>
          </div>
          <div data-role="fieldcontain">
              <label for="txt3">(3) 채용 보상금</label>
              <input type="text" name="reward" id="txt3" value="1000000">
          </div>
          <div data-role="fieldcontain" class="ui-disabled">
              <label>(4) 채용 내용<br>
                  <textarea rows="10" cols="50" name="content">개발팀에서 백엔드 주니어 개발자를 채용합니다. 자격요건은..</textarea>
              </label>
          </div>
          <div data-role="fieldcontain" class="ui-disabled">
              <label>(5) 사용 기술
                  <input type="text" name="tech" id="txt5" value="Python">
              </label>
          </div>
          <input type="submit" value="글쓰기">
      </form>

   </div>

 </div>
</body>


</html>
