<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>post_view</title>
</head>
<body>
    <h1>
        공고 상세 보기
    </h1>

    <div data-role="content">
          <form method="post">
              {% csrf_token %}
              <label>(1) 채용 포지션
                  <input type="text" name="position" id="txt2" value={{ post_info.position }}>
              </label>
              <div data-role="fieldcontain">
                  <label for="txt3">(2) 채용 보상금</label>
                  <input type="text" name="reward" id="txt3" value={{ post_info.reward }}>
              </div>
              <div data-role="fieldcontain" class="ui-disabled">
                  <label>(3) 채용 내용<br>
                      <textarea rows="10" cols="50" name="content">{{ post_info.content }}</textarea>
                  </label>
              </div>
              <div data-role="fieldcontain" class="ui-disabled">
                  <label>(4) 사용 기술
                      <input type="text" name="tech" id="txt5" value={{ post_info.tech }}>
                  </label>
              </div>
              <input type="submit" value="수정하기">

          </form>
        <form method="temp">
            {% csrf_token %}
            <input type="text" name="post_id" value={{post_info.post_id}}>
            <input type="submit"  value="삭제하기">
        </form>
        <button onclick="location.href='/delete/{{post_info.post_id}}'"> 삭제 </button>
   </div>
</body>
</html>